<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.comprise.olivine.libtwitch">
    <application>
<activity
android:name = "com.perflyst.twire.activities.main.HalibutBulkRepublicActivity"
android:exported="false"
android:windowSoftInputMode="stateAlwaysHidden"
/>

    </application>
</manifest>
